<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="text-center" *ngFor="let h of headElements">
      <small>{{h}}</small></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of list_book">
<!--    <app-ligne-book [book]="p"></app-ligne-book>-->



    <th class="text-nowrap" scope="row">
      <div [hidden]="!vision">{{book.title}}</div>
      <div [hidden]="vision">
        <input class="col-sm col-form-label" name="title" [(ngModel)]="book.title" [value]="book.title" placeholder="title">
      </div>
    </th>
    <td>
      <div [hidden]="!vision">{{book.author}}</div>
      <div [hidden]="vision">
        <input class="col-sm col-form-label" name="author" [(ngModel)]="book.author" [value]="book.author" placeholder="author">
      </div>
    </td>

    <td>
      <div [hidden]="!vision">{{book.pages}}</div>
      <div [hidden]="vision">
        <input type="number" class="col-sm col-form-label" name="pages" [(ngModel)]="book.pages" [value]="book.pages" placeholder="111">
      </div>
    </td>
    <td>
      <div [hidden]="!vision">{{book.quantity}}</div>
      <div [hidden]="vision">
        <input type="number" class="col-sm col-form-label" name="quantity" [(ngModel)]="book.quantity" [value]="book.quantity" placeholder="10">
      </div>
    </td>  <td>
      <div [hidden]="!vision">{{book.price}}</div>
      <div [hidden]="vision">
        <input type="number" class="col-sm col-form-label" name="price" [(ngModel)]="book.price" [value]="book.price" placeholder="10">
      </div>
    </td>

    <td>
      <div [hidden]="!vision">{{book.date_publication}}</div>
      <div [hidden]="vision">
        <input class="col-sm col-form-label" name="date_publication" [(ngModel)]="book.date_publication" [value]="book.date_publication"
               placeholder="date_publication">
      </div>
    </td>

    <td>
      <div [hidden]="vision">
        <button (click)="this.bookService.enregistrer(book)">enregistrer</button>
      </div>
      <div [hidden]="!vision">
        <button>modifier</button>
      </div>
    </td>
    <td>
      <button (click)="this.bookService.supprimer(book)">supprimer</button>
    </td>



  </tr>
  </tbody>
</table>
