<div class="columns">
  <div class="column is-half">
    <section class="hero is-bold is-fullheight">
      <div class="hero-body">
        <div class="container has-text-left container-description">
          <h1 class="title">
            Print Trend
          </h1>
          <p class="subtitle subtitle-1">
            Atelier au coeur de Paris:<br>
            Serigraphie, broderie et impression DTG Bénéficiez du savoir faire de nos expert.<br><br>
          </p>
          <div>
            <button class="button is-success">Démarrer la customisation</button>
          </div>
          <p class="has-text-grey is-size-7 marketing-1">100% gratuit - Facile à utiliser</p>
        </div>
      </div>
    </section>
  </div>

  <div class="column">
    <section class="hero is-bold is-fullheight">
      <div class="hero-body">
        <div class="container is-centered">
          <figure class="image">
            <img src="{{homeLogo}}">
          </figure>
        </div>
      </div>
    </section>
  </div>
</div>
