<button routerLink="/addelement" ></button>
<div class="card-columns">
  <div class="card mb-3" *ngFor="let book of listBook">
    <div *ngIf="book.image!=='' && book.image!=null; else elseBlock" routerLink="/element">
      <img src="{{book.image}}" routerLink="/element" [alt]="" style="width: 400px;height: 400px;" alt="Placeholder image"></div>
    <ng-template #elseBlock> <img src="{{current}}" [alt]="'pas de photo'" style="width: 400px;height: 400px;" alt="Placeholder image"></ng-template>

    <div class="card-body">
      <h5 class="card-title" (click)="bookOpened()" routerLink="/element">{{ PrintText(book.title, 30) }} </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ book.author}}</h6>
      <p class="card-text"> {{ PrintText(book.description, 100)}} </p>
      <h5 class="card-title text-success ">{{book.price}} €</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{book.date_publication}}</small>
    </div>
  </div>
</div>


